# python cache
__pycache__/

# data files from data folder
data/slack/*.json
data/google/*.csv

#databases
*.db 

# virtual environments
.venv/
.env
*.env

# logs & debugging
*.log

# temporary files and editor folders
*.swp
*.swo
*.tmp
.idea/
.vscode/

# testing files
*test.py
*_test.py 