# python cache
__pycache__/

# data files from data folder
data/slack/**
!data/slack/.gitkeep
data/txt/**
!data/slack/.gitkeep

#databases
database/**
!database/.gitkeep

# virtual environments
.venv/
.env
*.env

# logs & debugging
*.log

# temporary files and editor folders
*.swp
*.swo
*.tmp
.idea/
.vscode/

# testing files
*test.py
*_test.py