# python cache
__pycache__/

# data files from data folder
data/slack/*.json
data/google/*.csv

# virtual environments
.venv/
env/
venv/

# logs & debugging
*.log

# environment config or secrets
.env
*.env

# temporary files and editor folders
*.swp
*.swo
*.tmp
.idea/
.vscode/

# testing files
*test.py
*_test.py 